@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1160px;
    margin: 0  auto;
}

/* ---------------------------
    Nav Part Start
------------------------------- */
nav {
     position: absolute;
     top: 42px;
     left: 0;
     width: 100%;
}
nav .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
nav button{
    background: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    border: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
nav button:hover{
    background: #FEE715FF;
}
nav button i{
    font-size: 16px;
    margin-right: 8px;
}
nav button span{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
/* ---------------------------
    Nav Part End
------------------------------- */
/* ---------------------------
    Banner Part Start
------------------------------- */
#banner-part{
 background: #2D25A0;
 padding-top: 135px;
 padding-bottom: 114px;
}
#banner-part .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner-part h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    width: 485px;
    line-height: 80px;
}
#banner-part button{
    background: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    border: 0;
    margin-top: 27px;
}
#banner-part button a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
#banner-part button i{
    font-size: 16px;
    margin-left: 8px;
    color: #fff;
}
#banner-part .img img{
    width: 100%;
    animation: football 8s infinite;
    -webkit-animation: football 8s infinite;
}
@keyframes football{
    0%{
        margin-left: 0;
    }
    10%{
        margin-left: 5px;
    }
    20%{
        margin-left: 10px;
    }
    30%{
        margin-left: 15px;
    }
    40%{
        margin-left: 20px;
    }
    50%{
        margin-left: 25px;
    }
    60%{
        margin-left: 20px;
    }
    70%{
        margin-left: 15px;
    }
    80%{
        margin-left: 10px;
    }
    90%{
        margin-left: 5px;
    }
    100%{
        margin-left: 0;
    }
}
/* ---------------------------
    Banner Part End
------------------------------- */
/* ---------------------------
    Players Part Start
------------------------------- */
#player-part{
    padding-top: 70px;
    padding-bottom: 174px;
}
#player-part main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
#player-part .item{
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
#player-part img{
    width: 300px;
    height: 256px;
}
#player-part .details h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 10px;
}
#player-part .details p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #18191F;
    line-height: 26px;
    margin-bottom: 23px;
}
/* ---------------------------
    Players Part End
------------------------------- */
/* ---------------------------
    Highlights Part Start
------------------------------- */
#highlight main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#highlight .text{
    width: 50%;
}
#highlight .text .details{
    width: 469px;
}
#highlight .text .details h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #0A0826;
    line-height: 60px;
    margin-bottom: 8px;
}
#highlight .text .details p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #6C6C6C;
    line-height: 26px;
}
#highlight .text .details button{
    background: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    border: 0;
    margin-top: 24px;
}
#highlight .text .details button a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
#highlight .text .details button i{
    font-size: 16px;
    margin-left: 8px;
    color: #fff;
}
#highlight .img{
    width: 50%;
}
#highlight .img img{
    width: 100%;
}
/* ---------------------------
    Highlights Part End
------------------------------- */
/* ---------------------------
    Partner Part Start
------------------------------- */
#partner-part{
    margin-top: 170px;
    margin-bottom: 60px;
}
#partner-part main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#partner-part .item{
    text-align: center;
}
/* ---------------------------
    Partner Part End
------------------------------- */
/* ---------------------------
    Gallery Part Start
------------------------------- */
#gallery-part{
    padding: 80px 0;
}
#gallery-part main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
#gallery-part .item img{
    width: 100%;
}
/* ---------------------------
    Gallery Part End
------------------------------- */
/* ---------------------------
    Footer Part End
------------------------------- */
footer{
    text-align: center;
}
footer .element{
}
footer .element img{
    width: 483px;
}
footer .element .social{
    margin-top: 20px;
}
footer .element .social i{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #E7E7E8;
    color: #969BAB;
    margin-right: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
footer .element p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ---------------------------
    Footer Part End
------------------------------- */